In [1]:
import os
os.chdir(r'C:\Users\ydool\Repos\sensor-analysis-assignment')

In [3]:
from visualization import signal_viewer
from pathlib import Path
import numpy as np

signal_viewer(
    data_dir=Path('data/raw/train'),
    labels_csv=Path('data/train.csv')
)

VBox(children=(Dropdown(description='Sample ID:', layout=Layout(width='50%'), options=('00104b76-d512-43d6-b2e…

In [5]:
from extract_features import process_dataset
process_dataset('inference')

[INFO] No label CSV found for 'inference' – proceeding without labels.

Processing 'inference' dataset...

100%|████████████████████████████████████████████████████████████████████████████████| 473/473 [00:18<00:00, 26.06it/s]

Processed 473 samples to data/inference.csv

,x_mean,x_std,x_max,x_min,x_range,x_skew,x_kurtosis,x_n_peaks,x_energy,y_mean,...,temperature,humidity,altitude,session_id,firmware_version,calibration_status,battery_level,gps_accuracy,network_type,device_model
0,0.058921,0.141937,0.263645,-0.227241,0.490886,-0.411727,-1.269705,17,2.361775,0.016296,...,29,21,383,S910846,v1.2.4,pending,97,5.613430,5g,model_b
1,0.106114,0.269372,1.778952,-0.216834,1.995787,3.211183,15.644389,1,8.382128,0.056256,...,15,58,163,S745147,v1.3.0,pending,60,1.196678,5g,model_b
2,0.789526,2.145882,9.063698,-5.985732,15.049430,0.780326,3.492323,11,522.816335,0.819377,...,32,55,838,S815741,v1.3.0,ok,39,3.882185,wifi,model_b
3,0.608177,1.767987,7.425284,-5.526085,12.951369,0.051386,2.937480,15,349.565584,1.388228,...,24,71,166,S192238,v1.2.3,ok,46,3.886005,wifi,model_b
4,-1.194933,1.703552,5.421388,-5.423952,10.845341,1.637340,4.764184,5,432.995344,-0.195628,...,27,52,720,S146695,v1.2.3,recent,36,7.753421,4g,model_a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,-1.636018,1.836926,6.591974,-9.584012,16.175985,0.312256,7.618219,3,605.085057,1.075774,...,24,75,720,S259109,v1.2.3,ok,76,3.351859,5g,model_b
469,0.060071,0.144546,0.310245,-0.195478,0.505723,-0.337960,-1.312457,13,2.450196,0.015352,...,17,78,945,S852576,v1.2.4,ok,91,6.921099,5g,model_b
470,0.558987,1.950833,8.567100,-4.938564,13.505664,0.908525,4.674787,8,411.821559,-0.130941,...,30,34,574,S639486,v1.2.3,recent,95,8.046290,4g,model_a
471,0.102132,0.273789,1.820321,-0.219719,2.040041,3.268718,16.336809,1,8.539161,0.016576,...,26,23,55,S935107,v1.2.4,ok,76,7.027533,4g,model_a
472,-0.587418,2.236118,5.314518,-9.728679,15.043198,-0.744848,2.708572,7,534.528186,0.904789,...,29,32,713,S526886,v1.2.3,recent,32,4.625958,5g,model_c

In [6]:
import pandas as pd
labels = pd.read_csv("data/manual_annotation/inference_labels.csv")

In [7]:
import joblib
from imu_pipeline import IMUPipeline

df_inf = pd.read_csv("data/inference.csv")
model = joblib.load("models/imu_pipeline.pkl")

preds = model.predict(df_inf)
probs = model.predict_proba(df_inf)

In [8]:
preds

array(['normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'normal',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'collision', 'collision', 'collision', 'collision', 'normal',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'normal', 'normal', 'collision',
       'collision', 'normal', 'normal', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'normal', 'collision', 'collision', 'normal', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'normal',
       'collision', 'normal', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'normal',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'collision', 'normal', 'collision',
       'collision', 'collision', 'normal', 'normal', 'collision',
       'normal', 'collision', 'collision', 'normal', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'normal', 'collision', 'normal',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'normal', 'normal', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'normal', 'normal', 'normal', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'normal', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'normal', 'collision', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'normal', 'normal', 'collision',
       'normal', 'collision', 'collision', 'collision', 'collision',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'normal', 'normal', 'normal', 'collision', 'collision',
       'collision', 'collision', 'collision', 'collision', 'normal',
       'collision', 'collision', 'collision', 'normal', 'collision',
       'collision', 'normal', 'collision', 'collision', 'normal',
       'collision', 'collision', 'normal', 'collision', 'normal',
       'collision', 'collision', 'collision'], dtype=object)

In [9]:
probs

array([[0.06, 0.94],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.94, 0.06],
       [0.91, 0.09],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.12, 0.88],
       [0.94, 0.06],
       [0.98, 0.02],
       [0.95, 0.05],
       [1.  , 0.  ],
       [0.92, 0.08],
       [0.02, 0.98],
       [0.15, 0.85],
       [0.99, 0.01],
       [0.92, 0.08],
       [0.97, 0.03],
       [0.26, 0.74],
       [0.93, 0.07],
       [0.98, 0.02],
       [0.92, 0.08],
       [0.96, 0.04],
       [0.09, 0.91],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.05, 0.95],
       [0.95, 0.05],
       [0.4 , 0.6 ],
       [0.93, 0.07],
       [0.94, 0.06],
       [0.95, 0.05],
       [0.94, 0.06],
       [0.05, 0.95],
       [0.95, 0.05],
       [1.  , 0.  ],
       [0.92, 0.08],
       [0.99, 0.01],
       [0.93, 0.07],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.93, 0.07],
       [0.11, 0.89],
       [0.94, 0.06],
       [0.95, 0.05],
       [0.15, 0.85],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.08, 0.92],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.16, 0.84],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.95, 0.05],
       [0.93, 0.07],
       [0.07, 0.93],
       [0.96, 0.04],
       [0.14, 0.86],
       [0.93, 0.07],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.11, 0.89],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.99, 0.01],
       [0.14, 0.86],
       [0.93, 0.07],
       [0.92, 0.08],
       [0.95, 0.05],
       [0.93, 0.07],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.18, 0.82],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.92, 0.08],
       [0.06, 0.94],
       [0.97, 0.03],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.  , 1.  ],
       [0.96, 0.04],
       [0.09, 0.91],
       [0.02, 0.98],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.21, 0.79],
       [0.04, 0.96],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.1 , 0.9 ],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.97, 0.03],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.93, 0.07],
       [0.15, 0.85],
       [0.94, 0.06],
       [0.25, 0.75],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.06, 0.94],
       [0.92, 0.08],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.96, 0.04],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.95, 0.05],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.95, 0.05],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.92, 0.08],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.94, 0.06],
       [0.98, 0.02],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.32, 0.68],
       [0.93, 0.07],
       [0.93, 0.07],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.95, 0.05],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.11, 0.89],
       [0.92, 0.08],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.95, 0.05],
       [0.1 , 0.9 ],
       [0.13, 0.87],
       [0.91, 0.09],
       [0.23, 0.77],
       [0.96, 0.04],
       [0.93, 0.07],
       [0.12, 0.88],
       [0.94, 0.06],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.18, 0.82],
       [1.  , 0.  ],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.11, 0.89],
       [0.97, 0.03],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.93, 0.07],
       [0.2 , 0.8 ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.91, 0.09],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.92, 0.08],
       [0.94, 0.06],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.14, 0.86],
       [0.98, 0.02],
       [0.9 , 0.1 ],
       [0.94, 0.06],
       [0.91, 0.09],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.11, 0.89],
       [1.  , 0.  ],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.07, 0.93],
       [0.01, 0.99],
       [0.96, 0.04],
       [0.9 , 0.1 ],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.05, 0.95],
       [0.93, 0.07],
       [0.93, 0.07],
       [0.04, 0.96],
       [1.  , 0.  ],
       [0.97, 0.03],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.04, 0.96],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.1 , 0.9 ],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.08, 0.92],
       [0.93, 0.07],
       [0.92, 0.08],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.06, 0.94],
       [0.94, 0.06],
       [0.19, 0.81],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.91, 0.09],
       [0.15, 0.85],
       [0.1 , 0.9 ],
       [0.95, 0.05],
       [0.21, 0.79],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.07, 0.93],
       [0.15, 0.85],
       [0.94, 0.06],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.94, 0.06],
       [1.  , 0.  ],
       [0.93, 0.07],
       [0.92, 0.08],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.01, 0.99],
       [0.99, 0.01],
       [0.94, 0.06],
       [0.88, 0.12],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.95, 0.05],
       [0.93, 0.07],
       [0.21, 0.79],
       [0.35, 0.65],
       [0.93, 0.07],
       [0.02, 0.98],
       [0.97, 0.03],
       [0.06, 0.94],
       [0.97, 0.03],
       [0.94, 0.06],
       [0.98, 0.02],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.14, 0.86],
       [0.95, 0.05],
       [1.  , 0.  ],
       [0.07, 0.93],
       [0.94, 0.06],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.98, 0.02],
       [0.06, 0.94],
       [0.97, 0.03],
       [1.  , 0.  ],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.26, 0.74],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.07, 0.93],
       [0.33, 0.67],
       [0.21, 0.79],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.97, 0.03],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.14, 0.86],
       [0.11, 0.89],
       [0.01, 0.99],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.93, 0.07],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.93, 0.07],
       [0.01, 0.99],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.92, 0.08],
       [0.14, 0.86],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.04, 0.96],
       [0.96, 0.04],
       [0.96, 0.04],
       [0.94, 0.06],
       [0.93, 0.07],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.91, 0.09],
       [0.92, 0.08],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.93, 0.07],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.11, 0.89],
       [0.92, 0.08],
       [0.01, 0.99],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.93, 0.07],
       [0.17, 0.83],
       [0.95, 0.05],
       [0.93, 0.07],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.97, 0.03],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.97, 0.03],
       [0.93, 0.07],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.97, 0.03],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.04, 0.96],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.92, 0.08],
       [0.98, 0.02],
       [0.92, 0.08],
       [0.19, 0.81],
       [0.94, 0.06],
       [0.95, 0.05],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.09, 0.91],
       [0.07, 0.93],
       [0.98, 0.02],
       [0.11, 0.89],
       [0.98, 0.02],
       [0.95, 0.05],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.28, 0.72],
       [0.14, 0.86],
       [0.11, 0.89],
       [0.96, 0.04],
       [0.91, 0.09],
       [0.91, 0.09],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.05, 0.95],
       [0.91, 0.09],
       [0.93, 0.07],
       [0.96, 0.04],
       [0.08, 0.92],
       [0.94, 0.06],
       [0.92, 0.08],
       [0.11, 0.89],
       [0.95, 0.05],
       [0.93, 0.07],
       [0.41, 0.59],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.1 , 0.9 ],
       [0.93, 0.07],
       [0.34, 0.66],
       [0.93, 0.07],
       [1.  , 0.  ],
       [0.95, 0.05]])

In [10]:
df_inf.head()

,x_mean,x_std,x_max,x_min,x_range,x_skew,x_kurtosis,x_n_peaks,x_energy,y_mean,...,temperature,humidity,altitude,session_id,firmware_version,calibration_status,battery_level,gps_accuracy,network_type,device_model
0,0.058921,0.141937,0.263645,-0.227241,0.490886,-0.411727,-1.269705,17,2.361775,0.016296,...,29,21,383,S910846,v1.2.4,pending,97,5.613430,5g,model_b
1,0.106114,0.269372,1.778952,-0.216834,1.995787,3.211183,15.644389,1,8.382128,0.056256,...,15,58,163,S745147,v1.3.0,pending,60,1.196678,5g,model_b
2,0.789526,2.145882,9.063698,-5.985732,15.049430,0.780326,3.492323,11,522.816335,0.819377,...,32,55,838,S815741,v1.3.0,ok,39,3.882185,wifi,model_b
3,0.608177,1.767987,7.425284,-5.526085,12.951369,0.051386,2.937480,15,349.565584,1.388228,...,24,71,166,S192238,v1.2.3,ok,46,3.886005,wifi,model_b
4,-1.194933,1.703552,5.421388,-5.423952,10.845341,1.637340,4.764184,5,432.995344,-0.195628,...,27,52,720,S146695,v1.2.3,recent,36,7.753421,4g,model_a

In [11]:
df_inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x_mean               473 non-null    float64
 1   x_std                473 non-null    float64
 2   x_max                473 non-null    float64
 3   x_min                473 non-null    float64
 4   x_range              473 non-null    float64
 5   x_skew               473 non-null    float64
 6   x_kurtosis           473 non-null    float64
 7   x_n_peaks            473 non-null    int64
 8   x_energy             473 non-null    float64
 9   y_mean               473 non-null    float64
 10  y_std                473 non-null    float64
 11  y_max                473 non-null    float64
 12  y_min                473 non-null    float64
 13  y_range              473 non-null    float64
 14  y_skew               473 non-null    float64
 15  y_kurtosis           473 non-null    float64
 16  y_n_peaks            473 non-null    int64
 17  y_energy             473 non-null    float64
 18  z_mean               473 non-null    float64
 19  z_std                473 non-null    float64
 20  z_max                473 non-null    float64
 21  z_min                473 non-null    float64
 22  z_range              473 non-null    float64
 23  z_skew               473 non-null    float64
 24  z_kurtosis           473 non-null    float64
 25  z_n_peaks            473 non-null    int64
 26  z_energy             473 non-null    float64
 27  mag_mean             473 non-null    float64
 28  mag_std              473 non-null    float64
 29  mag_max              473 non-null    float64
 30  max_delta_mag        473 non-null    float64
 31  sudden_change_score  473 non-null    int64
 32  x_fft_max            473 non-null    float64
 33  x_fft_mean           473 non-null    float64
 34  y_fft_max            473 non-null    float64
 35  y_fft_mean           473 non-null    float64
 36  z_fft_max            473 non-null    float64
 37  z_fft_mean           473 non-null    float64
 38  xy_corr              473 non-null    float64
 39  xz_corr              473 non-null    float64
 40  yz_corr              473 non-null    float64
 41  sample_id            473 non-null    object
 42  sensor_source        473 non-null    object
 43  timestamp            473 non-null    object
 44  weather              473 non-null    object
 45  driver_id            473 non-null    object
 46  vehicle_type         473 non-null    object
 47  speed_bin            473 non-null    object
 48  road_type            473 non-null    object
 49  time_of_day          473 non-null    object
 50  temperature          473 non-null    int64
 51  humidity             473 non-null    int64
 52  altitude             473 non-null    int64
 53  session_id           473 non-null    object
 54  firmware_version     473 non-null    object
 55  calibration_status   473 non-null    object
 56  battery_level        473 non-null    int64
 57  gps_accuracy         473 non-null    float64
 58  network_type         473 non-null    object
 59  device_model         473 non-null    object
dtypes: float64(38), int64(8), object(14)
memory usage: 221.8+ KB

In [12]:
df_inf_with_results = df_inf.merge(labels, how='left', on='sample_id')

In [13]:
df_inf_with_results['predictions']=preds

In [14]:
df_inf_with_results.head()

,x_mean,x_std,x_max,x_min,x_range,x_skew,x_kurtosis,x_n_peaks,x_energy,y_mean,...,altitude,session_id,firmware_version,calibration_status,battery_level,gps_accuracy,network_type,device_model,label,predictions
0,0.058921,0.141937,0.263645,-0.227241,0.490886,-0.411727,-1.269705,17,2.361775,0.016296,...,383,S910846,v1.2.4,pending,97,5.613430,5g,model_b,normal,normal
1,0.106114,0.269372,1.778952,-0.216834,1.995787,3.211183,15.644389,1,8.382128,0.056256,...,163,S745147,v1.3.0,pending,60,1.196678,5g,model_b,collision,collision
2,0.789526,2.145882,9.063698,-5.985732,15.049430,0.780326,3.492323,11,522.816335,0.819377,...,838,S815741,v1.3.0,ok,39,3.882185,wifi,model_b,normal,collision
3,0.608177,1.767987,7.425284,-5.526085,12.951369,0.051386,2.937480,15,349.565584,1.388228,...,166,S192238,v1.2.3,ok,46,3.886005,wifi,model_b,normal,collision
4,-1.194933,1.703552,5.421388,-5.423952,10.845341,1.637340,4.764184,5,432.995344,-0.195628,...,720,S146695,v1.2.3,recent,36,7.753421,4g,model_a,collision,collision

In [15]:
df_inf_with_results['label'].unique()

array(['normal', 'collision'], dtype=object)

In [17]:
df_inf_with_results['predictions'].unique()

array(['normal', 'collision'], dtype=object)

In [18]:
def add_confusion_label(df, true_col, pred_col, positive_class):
    conditions = [
        (df[pred_col] == positive_class) & (df[true_col] == positive_class),  # TP
        (df[pred_col] == positive_class) & (df[true_col] != positive_class),  # FP
        (df[pred_col] != positive_class) & (df[true_col] != positive_class),  # TN
        (df[pred_col] != positive_class) & (df[true_col] == positive_class)   # FN
    ]
    choices = ['TP', 'FP', 'TN', 'FN']
    df['confusion_label'] = pd.Series(pd.Categorical(np.select(conditions, choices, default='Unknown')))
    return df

In [19]:
df_inf_with_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x_mean               473 non-null    float64
 1   x_std                473 non-null    float64
 2   x_max                473 non-null    float64
 3   x_min                473 non-null    float64
 4   x_range              473 non-null    float64
 5   x_skew               473 non-null    float64
 6   x_kurtosis           473 non-null    float64
 7   x_n_peaks            473 non-null    int64
 8   x_energy             473 non-null    float64
 9   y_mean               473 non-null    float64
 10  y_std                473 non-null    float64
 11  y_max                473 non-null    float64
 12  y_min                473 non-null    float64
 13  y_range              473 non-null    float64
 14  y_skew               473 non-null    float64
 15  y_kurtosis           473 non-null    float64
 16  y_n_peaks            473 non-null    int64
 17  y_energy             473 non-null    float64
 18  z_mean               473 non-null    float64
 19  z_std                473 non-null    float64
 20  z_max                473 non-null    float64
 21  z_min                473 non-null    float64
 22  z_range              473 non-null    float64
 23  z_skew               473 non-null    float64
 24  z_kurtosis           473 non-null    float64
 25  z_n_peaks            473 non-null    int64
 26  z_energy             473 non-null    float64
 27  mag_mean             473 non-null    float64
 28  mag_std              473 non-null    float64
 29  mag_max              473 non-null    float64
 30  max_delta_mag        473 non-null    float64
 31  sudden_change_score  473 non-null    int64
 32  x_fft_max            473 non-null    float64
 33  x_fft_mean           473 non-null    float64
 34  y_fft_max            473 non-null    float64
 35  y_fft_mean           473 non-null    float64
 36  z_fft_max            473 non-null    float64
 37  z_fft_mean           473 non-null    float64
 38  xy_corr              473 non-null    float64
 39  xz_corr              473 non-null    float64
 40  yz_corr              473 non-null    float64
 41  sample_id            473 non-null    object
 42  sensor_source        473 non-null    object
 43  timestamp            473 non-null    object
 44  weather              473 non-null    object
 45  driver_id            473 non-null    object
 46  vehicle_type         473 non-null    object
 47  speed_bin            473 non-null    object
 48  road_type            473 non-null    object
 49  time_of_day          473 non-null    object
 50  temperature          473 non-null    int64
 51  humidity             473 non-null    int64
 52  altitude             473 non-null    int64
 53  session_id           473 non-null    object
 54  firmware_version     473 non-null    object
 55  calibration_status   473 non-null    object
 56  battery_level        473 non-null    int64
 57  gps_accuracy         473 non-null    float64
 58  network_type         473 non-null    object
 59  device_model         473 non-null    object
 60  label                473 non-null    object
 61  predictions          473 non-null    object
dtypes: float64(38), int64(8), object(16)
memory usage: 229.2+ KB

In [20]:
df_inf_with_results = add_confusion_label(df_inf_with_results, 'label', 'predictions', positive_class='collision')

In [21]:
df_inf_with_results['device_model'].unique()

array(['model_b', 'model_a', 'model_c'], dtype=object)

In [22]:
df_inf_with_results.head()

,x_mean,x_std,x_max,x_min,x_range,x_skew,x_kurtosis,x_n_peaks,x_energy,y_mean,...,session_id,firmware_version,calibration_status,battery_level,gps_accuracy,network_type,device_model,label,predictions,confusion_label
0,0.058921,0.141937,0.263645,-0.227241,0.490886,-0.411727,-1.269705,17,2.361775,0.016296,...,S910846,v1.2.4,pending,97,5.613430,5g,model_b,normal,normal,TN
1,0.106114,0.269372,1.778952,-0.216834,1.995787,3.211183,15.644389,1,8.382128,0.056256,...,S745147,v1.3.0,pending,60,1.196678,5g,model_b,collision,collision,TP
2,0.789526,2.145882,9.063698,-5.985732,15.049430,0.780326,3.492323,11,522.816335,0.819377,...,S815741,v1.3.0,ok,39,3.882185,wifi,model_b,normal,collision,FP
3,0.608177,1.767987,7.425284,-5.526085,12.951369,0.051386,2.937480,15,349.565584,1.388228,...,S192238,v1.2.3,ok,46,3.886005,wifi,model_b,normal,collision,FP
4,-1.194933,1.703552,5.421388,-5.423952,10.845341,1.637340,4.764184,5,432.995344,-0.195628,...,S146695,v1.2.3,recent,36,7.753421,4g,model_a,collision,collision,TP

In [23]:
confusion_table = df_inf_with_results.groupby(['confusion_label'])['sample_id'].count().reset_index()
confusion_table.rename(columns={'sample_id':'#'}, inplace=True)
confusion_table['%'] = (confusion_table['#']*100)/473

In [25]:
confusion_table

  confusion_label    #          %
0              FN   10   2.114165
1              FP  158  33.403805
2              TN   79  16.701903
3              TP  226  47.780127

In [26]:
from sklearn.metrics import classification_report
y_true = df_inf_with_results["label"]
y_pred = df_inf_with_results["predictions"]
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

   collision       0.59      0.96      0.73       236
      normal       0.89      0.33      0.48       237

    accuracy                           0.64       473
   macro avg       0.74      0.65      0.61       473
weighted avg       0.74      0.64      0.61       473

In [27]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_true, y_pred)
accuracy

0.6448202959830867

In [31]:
test_data = pd.read_csv("data/test.csv")

In [32]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 61 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x_mean               200 non-null    float64
 1   x_std                200 non-null    float64
 2   x_max                200 non-null    float64
 3   x_min                200 non-null    float64
 4   x_range              200 non-null    float64
 5   x_skew               200 non-null    float64
 6   x_kurtosis           200 non-null    float64
 7   x_n_peaks            200 non-null    int64
 8   x_energy             200 non-null    float64
 9   y_mean               200 non-null    float64
 10  y_std                200 non-null    float64
 11  y_max                200 non-null    float64
 12  y_min                200 non-null    float64
 13  y_range              200 non-null    float64
 14  y_skew               200 non-null    float64
 15  y_kurtosis           200 non-null    float64
 16  y_n_peaks            200 non-null    int64
 17  y_energy             200 non-null    float64
 18  z_mean               200 non-null    float64
 19  z_std                200 non-null    float64
 20  z_max                200 non-null    float64
 21  z_min                200 non-null    float64
 22  z_range              200 non-null    float64
 23  z_skew               200 non-null    float64
 24  z_kurtosis           200 non-null    float64
 25  z_n_peaks            200 non-null    int64
 26  z_energy             200 non-null    float64
 27  mag_mean             200 non-null    float64
 28  mag_std              200 non-null    float64
 29  mag_max              200 non-null    float64
 30  max_delta_mag        200 non-null    float64
 31  sudden_change_score  200 non-null    int64
 32  x_fft_max            200 non-null    float64
 33  x_fft_mean           200 non-null    float64
 34  y_fft_max            200 non-null    float64
 35  y_fft_mean           200 non-null    float64
 36  z_fft_max            200 non-null    float64
 37  z_fft_mean           200 non-null    float64
 38  xy_corr              200 non-null    float64
 39  xz_corr              200 non-null    float64
 40  yz_corr              200 non-null    float64
 41  sample_id            200 non-null    object
 42  sensor_source        200 non-null    object
 43  label                200 non-null    object
 44  timestamp            200 non-null    object
 45  weather              200 non-null    object
 46  driver_id            200 non-null    object
 47  vehicle_type         200 non-null    object
 48  speed_bin            200 non-null    object
 49  road_type            200 non-null    object
 50  time_of_day          200 non-null    object
 51  temperature          200 non-null    int64
 52  humidity             200 non-null    int64
 53  altitude             200 non-null    int64
 54  session_id           200 non-null    object
 55  firmware_version     200 non-null    object
 56  calibration_status   200 non-null    object
 57  battery_level        200 non-null    int64
 58  gps_accuracy         200 non-null    float64
 59  network_type         200 non-null    object
 60  device_model         200 non-null    object
dtypes: float64(38), int64(8), object(15)
memory usage: 95.4+ KB

In [33]:
test_data['label'].unique()

array(['normal', 'collision'], dtype=object)

In [34]:
df_inf = pd.read_csv("data/test.csv")
model = joblib.load("models/imu_pipeline.pkl")

preds_test_data = model.predict(df_inf)
probs_test_data = model.predict_proba(df_inf)

In [35]:
test_data['predictions'] = preds_test_data

In [36]:
test_data

,x_mean,x_std,x_max,x_min,x_range,x_skew,x_kurtosis,x_n_peaks,x_energy,y_mean,...,humidity,altitude,session_id,firmware_version,calibration_status,battery_level,gps_accuracy,network_type,device_model,predictions
0,0.055139,0.149892,0.277077,-0.204022,0.481099,-0.298338,-1.362385,14,2.550784,0.017328,...,29,814,S186189,v1.3.0,recent,94,9.497950,wifi,model_b,normal
1,0.061628,0.143698,0.278498,-0.209266,0.487764,-0.387841,-1.318381,18,2.444723,0.017545,...,59,264,S799382,v1.2.3,ok,22,6.290437,5g,model_b,normal
2,0.065131,0.144631,0.271439,-0.203920,0.475359,-0.332978,-1.320507,16,2.516012,0.016229,...,25,14,S576443,v1.3.0,ok,40,8.887643,5g,model_a,normal
3,0.115545,0.328847,2.217390,-0.232020,2.449410,3.790379,18.807945,1,12.149115,0.014977,...,28,52,S325295,v1.3.0,ok,88,5.129412,4g,model_b,collision
4,0.106228,0.268485,1.921070,-0.222381,2.143451,3.767480,21.555348,3,8.336851,0.020733,...,56,869,S764379,v1.2.4,pending,30,7.516815,5g,model_b,collision
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.090035,0.222742,1.368346,-0.230783,1.599130,2.560684,11.654057,10,5.772049,0.018332,...,43,417,S694680,v1.2.4,pending,92,6.976930,4g,model_a,collision
196,0.063621,0.143099,0.259955,-0.237191,0.497146,-0.447210,-1.187221,15,2.452495,0.013787,...,66,719,S889009,v1.2.3,pending,64,7.345656,5g,model_a,normal
197,0.062384,0.142389,0.273164,-0.227409,0.500574,-0.311774,-1.307390,14,2.416647,0.015613,...,75,957,S278790,v1.2.4,pending,79,4.561928,5g,model_c,normal
198,0.062315,0.143533,0.298080,-0.215381,0.513461,-0.314855,-1.316473,16,2.448493,0.013719,...,43,959,S936014,v1.2.3,ok,48,2.894428,4g,model_b,normal
199,0.058221,0.141633,0.300642,-0.219536,0.520178,-0.342617,-1.264895,13,2.344952,0.015155,...,37,585,S244338,v1.2.3,ok,77,1.607092,4g,model_b,normal

In [37]:
test_data = add_confusion_label(test_data, 'label', 'predictions', positive_class='collision')

In [38]:
confusion_table_test = test_data.groupby(['confusion_label'])['sample_id'].count().reset_index()
confusion_table_test.rename(columns={'sample_id':'#'}, inplace=True)
confusion_table_test['%'] = (confusion_table['#']*100)/200
confusion_table_test

  confusion_label    #     %
0              FN   11   5.0
1              TN  100  79.0
2              TP   89  39.5

There are no false positives in the test

In [40]:
y_true = test_data["label"]
y_pred = test_data["predictions"]
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

   collision       1.00      0.89      0.94       100
      normal       0.90      1.00      0.95       100

    accuracy                           0.94       200
   macro avg       0.95      0.95      0.94       200
weighted avg       0.95      0.94      0.94       200

In [41]:
accuracy = accuracy_score(y_true, y_pred)
accuracy

0.945

In [42]:
df_inf_with_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 63 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x_mean               473 non-null    float64
 1   x_std                473 non-null    float64
 2   x_max                473 non-null    float64
 3   x_min                473 non-null    float64
 4   x_range              473 non-null    float64
 5   x_skew               473 non-null    float64
 6   x_kurtosis           473 non-null    float64
 7   x_n_peaks            473 non-null    int64
 8   x_energy             473 non-null    float64
 9   y_mean               473 non-null    float64
 10  y_std                473 non-null    float64
 11  y_max                473 non-null    float64
 12  y_min                473 non-null    float64
 13  y_range              473 non-null    float64
 14  y_skew               473 non-null    float64
 15  y_kurtosis           473 non-null    float64
 16  y_n_peaks            473 non-null    int64
 17  y_energy             473 non-null    float64
 18  z_mean               473 non-null    float64
 19  z_std                473 non-null    float64
 20  z_max                473 non-null    float64
 21  z_min                473 non-null    float64
 22  z_range              473 non-null    float64
 23  z_skew               473 non-null    float64
 24  z_kurtosis           473 non-null    float64
 25  z_n_peaks            473 non-null    int64
 26  z_energy             473 non-null    float64
 27  mag_mean             473 non-null    float64
 28  mag_std              473 non-null    float64
 29  mag_max              473 non-null    float64
 30  max_delta_mag        473 non-null    float64
 31  sudden_change_score  473 non-null    int64
 32  x_fft_max            473 non-null    float64
 33  x_fft_mean           473 non-null    float64
 34  y_fft_max            473 non-null    float64
 35  y_fft_mean           473 non-null    float64
 36  z_fft_max            473 non-null    float64
 37  z_fft_mean           473 non-null    float64
 38  xy_corr              473 non-null    float64
 39  xz_corr              473 non-null    float64
 40  yz_corr              473 non-null    float64
 41  sample_id            473 non-null    object
 42  sensor_source        473 non-null    object
 43  timestamp            473 non-null    object
 44  weather              473 non-null    object
 45  driver_id            473 non-null    object
 46  vehicle_type         473 non-null    object
 47  speed_bin            473 non-null    object
 48  road_type            473 non-null    object
 49  time_of_day          473 non-null    object
 50  temperature          473 non-null    int64
 51  humidity             473 non-null    int64
 52  altitude             473 non-null    int64
 53  session_id           473 non-null    object
 54  firmware_version     473 non-null    object
 55  calibration_status   473 non-null    object
 56  battery_level        473 non-null    int64
 57  gps_accuracy         473 non-null    float64
 58  network_type         473 non-null    object
 59  device_model         473 non-null    object
 60  label                473 non-null    object
 61  predictions          473 non-null    object
 62  confusion_label      473 non-null    category
dtypes: category(1), float64(38), int64(8), object(16)
memory usage: 229.9+ KB

In [43]:
df_inf_with_results.groupby(['device_model', 'confusion_label'])['session_id'].count().reset_index()

   device_model confusion_label  session_id
0       model_a              FN           4
1       model_a              FP          54
2       model_a              TN          25
3       model_a              TP          79
4       model_b              FN           3
5       model_b              FP          54
6       model_b              TN          29
7       model_b              TP          71
8       model_c              FN           3
9       model_c              FP          50
10      model_c              TN          25
11      model_c              TP          76

In [44]:
df_inf_with_results['device_model'].value_counts()

device_model
model_a    162
model_b    157
model_c    154
Name: count, dtype: int64

In [79]:
df_inf_with_results.groupby(['network_type', 'confusion_label'])['session_id'].count().reset_index()

   network_type confusion_label  session_id
0            4g              FN           5
1            4g              FP          49
2            4g              TN          28
3            4g              TP          78
4            5g              FN           3
5            5g              FP          57
6            5g              TN          26
7            5g              TP          87
8          wifi              FN           2
9          wifi              FP          52
10         wifi              TN          25
11         wifi              TP          61

In [81]:
df_inf_with_results['network_type'].value_counts()

network_type
5g      173
4g      160
wifi    140
Name: count, dtype: int64

In [83]:
df_inf_with_results.groupby(['calibration_status', 'confusion_label'])['session_id'].count().reset_index()

   calibration_status confusion_label  session_id
0                  ok              FN           5
1                  ok              FP          57
2                  ok              TN          31
3                  ok              TP          74
4             pending              FN           2
5             pending              FP          64
6             pending              TN          27
7             pending              TP          78
8              recent              FN           3
9              recent              FP          37
10             recent              TN          21
11             recent              TP          74

In [85]:
df_inf_with_results.groupby(['firmware_version', 'confusion_label'])['session_id'].count().reset_index()

   firmware_version confusion_label  session_id
0            v1.2.3              FN           2
1            v1.2.3              FP          54
2            v1.2.3              TN          23
3            v1.2.3              TP          65
4            v1.2.4              FN           7
5            v1.2.4              FP          50
6            v1.2.4              TN          32
7            v1.2.4              TP          77
8            v1.3.0              FN           1
9            v1.3.0              FP          54
10           v1.3.0              TN          24
11           v1.3.0              TP          84

In [87]:
label_mapping = {'TP': 0, 'FP': 1, 'TN': 2, 'FN': 3}
df_inf_with_results['confusion_label_num'] = df_inf_with_results['confusion_label'].map(label_mapping)
test_data['confusion_label_num'] = test_data['confusion_label'].map(label_mapping)

In [89]:
# Drop non-numeric columns and label/prediction columns
exclude_cols = ['label', 'predictions', 'confusion_label', 'sample_id', 'timestamp', 
                'session_id', 'confusion_label_num']  # keep numerical version
numeric_cols = df_inf_with_results.select_dtypes(include=['float64', 'int64']).columns.difference(exclude_cols)

# Compute correlation
correlations = df_inf_with_results[numeric_cols].corrwith(df_inf_with_results['confusion_label_num']).sort_values(key=abs, ascending=False)

positive_correlations = correlations[correlations > 0].sort_values(ascending=False)
positive_correlations

xz_corr                0.384808
x_min                  0.304327
z_min                  0.279110
y_min                  0.261604
z_skew                 0.233573
xy_corr                0.208265
x_n_peaks              0.205147
altitude               0.059531
sudden_change_score    0.034853
humidity               0.027670
dtype: float64

In [91]:
numeric_cols = test_data.select_dtypes(include=['float64', 'int64']).columns.difference(exclude_cols)

# Compute correlation
correlations = test_data[numeric_cols].corrwith(test_data['confusion_label_num']).sort_values(key=abs, ascending=False)

positive_correlations = correlations[correlations > 0].sort_values(ascending=False)
positive_correlations

x_n_peaks              0.611518
z_skew                 0.532398
z_min                  0.526888
z_mean                 0.484377
z_fft_max              0.484377
z_energy               0.482647
y_fft_max              0.399123
xz_corr                0.397192
mag_mean               0.371750
sudden_change_score    0.355259
x_min                  0.196596
z_n_peaks              0.122896
battery_level          0.066385
humidity               0.018345
temperature            0.018011
dtype: float64

In [94]:
categorical_cols = df_inf_with_results.select_dtypes(include='object').columns.difference(['label', 'predictions'])

for col in categorical_cols:
    display(
        df_inf_with_results.groupby([col, 'confusion_label']).size().unstack().fillna(0).apply(lambda x: x / x.sum(), axis=1)
    )

confusion_label           FN        FP        TN        TP
calibration_status
ok                  0.029940  0.341317  0.185629  0.443114
pending             0.011696  0.374269  0.157895  0.456140
recent              0.022222  0.274074  0.155556  0.548148

confusion_label        FN        FP        TN        TP
device_model
model_a          0.024691  0.333333  0.154321  0.487654
model_b          0.019108  0.343949  0.184713  0.452229
model_c          0.019481  0.324675  0.162338  0.493506

confusion_label   FN        FP        TN        TP
driver_id
D1000            0.0  1.000000  0.000000  0.000000
D1001            0.0  0.222222  0.111111  0.666667
D1002            0.0  0.285714  0.285714  0.428571
D1003            0.0  0.571429  0.000000  0.428571
D1004            0.0  0.000000  0.250000  0.750000
...              ...       ...       ...       ...
D1095            0.0  0.250000  0.250000  0.500000
D1096            0.0  0.666667  0.333333  0.000000
D1097            0.0  0.500000  0.500000  0.000000
D1098            0.0  0.142857  0.000000  0.857143
D1099            0.0  0.333333  0.666667  0.000000

[99 rows x 4 columns]

confusion_label         FN        FP        TN        TP
firmware_version
v1.2.3            0.013889  0.375000  0.159722  0.451389
v1.2.4            0.042169  0.301205  0.192771  0.463855
v1.3.0            0.006135  0.331288  0.147239  0.515337

confusion_label        FN        FP        TN        TP
network_type
4g               0.031250  0.306250  0.175000  0.487500
5g               0.017341  0.329480  0.150289  0.502890
wifi             0.014286  0.371429  0.178571  0.435714

confusion_label        FN        FP        TN        TP
road_type
highway          0.006897  0.351724  0.179310  0.462069
rural            0.031056  0.322981  0.180124  0.465839
urban            0.023952  0.329341  0.143713  0.502994

confusion_label                        FN   FP   TN   TP
sample_id
0143cf13-fd51-44fd-8dd4-c2c92f5db7bd  0.0  0.0  1.0  0.0
01b5f718-2978-468f-9789-89003ba755e6  0.0  0.0  0.0  1.0
01fb46f8-2dc1-4bd3-a823-252a87c3bd03  0.0  1.0  0.0  0.0
022ae887-3b50-4440-94af-446a1cec3f87  0.0  1.0  0.0  0.0
02d8b8af-803d-4898-9eb5-51b771e5f2d9  0.0  0.0  0.0  1.0
...                                   ...  ...  ...  ...
fd5548de-22c7-4a7a-9a60-a72a111cfb0d  0.0  0.0  0.0  1.0
fe19e389-b754-4c5e-9a55-16b52c8081f0  0.0  0.0  1.0  0.0
fe1c72bc-e38f-4be2-b322-25b2561ccd0c  0.0  1.0  0.0  0.0
fe6c5e6e-48d1-4b0f-988d-e360c28196fc  0.0  0.0  0.0  1.0
ff0fa9b3-0755-4f81-9a92-6ecb4093230c  0.0  1.0  0.0  0.0

[473 rows x 4 columns]

confusion_label        FN        FP        TN        TP
sensor_source
camera           0.060976  0.000000  0.481707  0.457317
phone            0.000000  0.511327  0.000000  0.488673

confusion_label   FN   FP   TN   TP
session_id
S101974          0.0  0.0  1.0  0.0
S103479          0.0  0.0  0.0  1.0
S106454          0.0  0.0  0.0  1.0
S108213          0.0  0.0  0.0  1.0
S108647          0.0  1.0  0.0  0.0
...              ...  ...  ...  ...
S989660          0.0  0.0  0.0  1.0
S990391          0.0  0.0  0.0  1.0
S993755          0.0  1.0  0.0  0.0
S995129          0.0  0.0  0.0  1.0
S997931          0.0  1.0  0.0  0.0

[473 rows x 4 columns]

confusion_label        FN        FP        TN        TP
speed_bin
fast             0.018750  0.387500  0.168750  0.425000
medium           0.027211  0.306122  0.115646  0.551020
slow             0.018072  0.307229  0.210843  0.463855

confusion_label        FN        FP        TN        TP
time_of_day
afternoon        0.015873  0.404762  0.134921  0.444444
evening          0.034483  0.250000  0.163793  0.551724
morning          0.027273  0.345455  0.190909  0.436364
night            0.008264  0.330579  0.181818  0.479339

confusion_label              FN   FP   TN   TP
timestamp
2025-05-25 14:34:55.840178  0.0  0.0  0.0  1.0
2025-05-25 14:34:55.842040  0.0  0.0  0.0  1.0
2025-05-25 14:34:55.843847  0.0  0.0  0.0  1.0
2025-05-25 14:34:55.845851  0.0  0.0  0.0  1.0
2025-05-25 14:34:55.847981  0.0  0.0  0.0  1.0
...                         ...  ...  ...  ...
2025-05-25 14:34:56.732506  0.0  1.0  0.0  0.0
2025-05-25 14:34:56.734358  0.0  1.0  0.0  0.0
2025-05-25 14:34:56.736261  0.0  1.0  0.0  0.0
2025-05-25 14:34:56.738164  0.0  1.0  0.0  0.0
2025-05-25 14:34:56.740035  0.0  1.0  0.0  0.0

[473 rows x 4 columns]

confusion_label        FN        FP        TN        TP
vehicle_type
sedan            0.029940  0.329341  0.161677  0.479042
suv              0.013699  0.321918  0.191781  0.472603
truck            0.018750  0.350000  0.150000  0.481250

confusion_label        FN        FP        TN        TP
weather
clear            0.027972  0.321678  0.174825  0.475524
fog              0.037975  0.310127  0.177215  0.474684
rain             0.000000  0.366279  0.151163  0.482558

In [95]:
categorical_cols = test_data.select_dtypes(include='object').columns.difference(['label', 'predictions'])

for col in categorical_cols:
    display(
        test_data.groupby([col, 'confusion_label']).size().unstack().fillna(0).apply(lambda x: x / x.sum(), axis=1)
    )

confusion_label           FN        TN        TP
calibration_status
ok                  0.063492  0.476190  0.460317
pending             0.076923  0.446154  0.476923
recent              0.027778  0.569444  0.402778

confusion_label        FN        TN        TP
device_model
model_a          0.070423  0.450704  0.478873
model_b          0.016129  0.612903  0.370968
model_c          0.074627  0.447761  0.477612

confusion_label   FN    TN    TP
driver_id
D1000            0.0  1.00  0.00
D1001            0.0  0.00  1.00
D1003            0.0  0.50  0.50
D1005            0.0  1.00  0.00
D1007            0.0  1.00  0.00
...              ...   ...   ...
D1095            0.0  1.00  0.00
D1096            0.0  1.00  0.00
D1097            0.0  1.00  0.00
D1098            0.0  0.00  1.00
D1099            0.0  0.25  0.75

[90 rows x 3 columns]

confusion_label         FN        TN        TP
firmware_version
v1.2.3            0.074074  0.500000  0.425926
v1.2.4            0.075949  0.455696  0.468354
v1.3.0            0.014925  0.552239  0.432836

confusion_label        FN        TN        TP
network_type
4g               0.088235  0.529412  0.382353
5g               0.061538  0.476923  0.461538
wifi             0.014925  0.492537  0.492537

confusion_label        FN        TN        TP
road_type
highway          0.027027  0.527027  0.445946
rural            0.087719  0.491228  0.421053
urban            0.057971  0.478261  0.463768

confusion_label                        FN   TN   TP
sample_id
00903990-8d8e-4335-8a3c-011e2a9aba0e  0.0  1.0  0.0
00fc3825-9623-49d9-a15c-d477ec5cfb39  0.0  1.0  0.0
015a8049-ec68-49e8-a5b7-efa16c10912d  0.0  0.0  1.0
02de39f6-0a9a-4b60-9115-836d08989e32  0.0  0.0  1.0
04e87d5e-fc36-4a5b-95f0-1f15c09d7dce  0.0  1.0  0.0
...                                   ...  ...  ...
f7d4e050-61d2-477d-947c-56867501e551  0.0  1.0  0.0
f95bc206-9fba-48bc-b013-72de1e84859f  0.0  1.0  0.0
fb5aa5d6-a90a-4173-ad6a-74871e516b6e  0.0  0.0  1.0
fe4e9a4b-4073-4f69-81ec-4d6324a17f2f  0.0  1.0  0.0
fe58693f-b63c-41b3-bb63-536c0683e538  0.0  0.0  1.0

[200 rows x 3 columns]

confusion_label     FN   TN     TP
sensor_source
camera           0.055  0.5  0.445

confusion_label   FN   TN   TP
session_id
S100117          0.0  0.0  1.0
S103631          0.0  0.0  1.0
S105134          0.0  1.0  0.0
S106839          0.0  1.0  0.0
S114410          0.0  0.0  1.0
...              ...  ...  ...
S970051          0.0  0.0  1.0
S971115          0.0  1.0  0.0
S982963          0.0  0.0  1.0
S992398          0.0  0.0  1.0
S997632          0.0  0.0  1.0

[200 rows x 3 columns]

confusion_label        FN        TN        TP
speed_bin
fast             0.054054  0.540541  0.405405
medium           0.017544  0.438596  0.543860
slow             0.086957  0.507246  0.405797

confusion_label        FN        TN        TP
time_of_day
afternoon        0.089286  0.482143  0.428571
evening          0.060000  0.420000  0.520000
morning          0.057692  0.519231  0.423077
night            0.000000  0.595238  0.404762

confusion_label              FN   TN   TP
timestamp
2025-05-25 14:34:55.418190  0.0  0.0  1.0
2025-05-25 14:34:55.420353  0.0  0.0  1.0
2025-05-25 14:34:55.422462  0.0  0.0  1.0
2025-05-25 14:34:55.424580  0.0  0.0  1.0
2025-05-25 14:34:55.426740  1.0  0.0  0.0
...                         ...  ...  ...
2025-05-25 14:34:55.827494  0.0  1.0  0.0
2025-05-25 14:34:55.829497  0.0  1.0  0.0
2025-05-25 14:34:55.831541  0.0  1.0  0.0
2025-05-25 14:34:55.833579  0.0  1.0  0.0
2025-05-25 14:34:55.835565  0.0  1.0  0.0

[200 rows x 3 columns]

confusion_label        FN        TN        TP
vehicle_type
sedan            0.035088  0.491228  0.473684
suv              0.098592  0.507042  0.394366
truck            0.027778  0.500000  0.472222

confusion_label        FN        TN        TP
weather
clear            0.049180  0.442623  0.508197
fog              0.086957  0.492754  0.420290
rain             0.028571  0.557143  0.414286

In [96]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

# Encode target and categorical features
df_model = df_inf_with_results.drop(columns=['label', 'predictions', 'confusion_label', 'sample_id', 'timestamp', 'session_id'])
df_model = df_model.copy()
df_model = df_model.dropna()  # or fillna

# Encode categorical columns
for col in df_model.select_dtypes(include='object').columns:
    df_model[col] = LabelEncoder().fit_transform(df_model[col])

X = df_model.drop(columns=['confusion_label_num'])
y = df_model['confusion_label_num']

clf = RandomForestClassifier()
clf.fit(X, y)

# Show top features
importances = pd.Series(clf.feature_importances_, index=X.columns).sort_values(ascending=False)
print(importances)

max_delta_mag          0.065456
mag_std                0.063394
z_std                  0.041601
x_energy               0.040054
x_std                  0.036298
x_fft_mean             0.033105
z_range                0.032059
y_std                  0.029976
x_fft_max              0.029287
z_fft_mean             0.028706
yz_corr                0.027059
y_range                0.025909
y_fft_mean             0.024539
x_range                0.024169
y_max                  0.022695
x_max                  0.021148
x_kurtosis             0.021099
mag_max                0.019508
z_min                  0.019323
y_energy               0.018706
z_skew                 0.017761
y_min                  0.017147
x_skew                 0.016451
battery_level          0.016275
y_kurtosis             0.016240
y_skew                 0.015883
gps_accuracy           0.015687
xz_corr                0.015289
y_mean                 0.014388
y_fft_max              0.014289
xy_corr                0.014032
z_mean                 0.013963
z_kurtosis             0.013687
humidity               0.013640
x_mean                 0.013485
mag_mean               0.013164
altitude               0.012806
y_n_peaks              0.011990
z_max                  0.011709
z_energy               0.011259
x_min                  0.011086
driver_id              0.009412
z_fft_max              0.008433
z_n_peaks              0.008374
x_n_peaks              0.007723
temperature            0.007383
sudden_change_score    0.007278
calibration_status     0.004130
speed_bin              0.003485
weather                0.003181
time_of_day            0.003126
firmware_version       0.002795
road_type              0.002588
vehicle_type           0.002368
network_type           0.002246
device_model           0.001820
sensor_source          0.001334
dtype: float64

In [97]:
# Encode target and categorical features
df_model = test_data.drop(columns=['label', 'predictions', 'confusion_label', 'sample_id', 'timestamp', 'session_id'])
df_model = df_model.copy()
df_model = df_model.dropna()  # or fillna

# Encode categorical columns
for col in df_model.select_dtypes(include='object').columns:
    df_model[col] = LabelEncoder().fit_transform(df_model[col])

X = df_model.drop(columns=['confusion_label_num'])
y = df_model['confusion_label_num']

clf = RandomForestClassifier()
clf.fit(X, y)

# Show top features
importances = pd.Series(clf.feature_importances_, index=X.columns).sort_values(ascending=False)
print(importances)

mag_std                0.099914
x_range                0.060370
x_mean                 0.054343
max_delta_mag          0.047316
x_kurtosis             0.043522
x_std                  0.042014
x_energy               0.035138
z_fft_mean             0.035106
x_fft_mean             0.031738
y_range                0.030848
y_mean                 0.030048
x_fft_max              0.029810
x_skew                 0.028364
z_range                0.026144
y_kurtosis             0.025936
yz_corr                0.025793
z_fft_max              0.024594
y_fft_mean             0.024330
y_max                  0.023882
y_skew                 0.022610
y_std                  0.022585
z_kurtosis             0.022481
z_skew                 0.019012
y_energy               0.018248
x_max                  0.018099
z_std                  0.015457
z_energy               0.014705
mag_max                0.012320
x_min                  0.012106
mag_mean               0.010284
x_n_peaks              0.010102
xz_corr                0.009507
z_mean                 0.008062
y_fft_max              0.006970
altitude               0.006885
gps_accuracy           0.006827
xy_corr                0.005829
z_min                  0.005771
battery_level          0.004864
driver_id              0.004588
y_min                  0.003542
sudden_change_score    0.003099
temperature            0.002840
z_max                  0.002366
humidity               0.001959
z_n_peaks              0.001513
y_n_peaks              0.001452
time_of_day            0.001162
device_model           0.001061
road_type              0.000969
vehicle_type           0.000942
weather                0.000866
firmware_version       0.000674
network_type           0.000664
speed_bin              0.000234
calibration_status     0.000136
sensor_source          0.000000
dtype: float64

In [99]:
test_data['firmware_version'].value_counts()

firmware_version
v1.2.4    79
v1.3.0    67
v1.2.3    54
Name: count, dtype: int64

In [102]:
df_inf_with_results['firmware_version'].value_counts()

firmware_version
v1.2.4    166
v1.3.0    163
v1.2.3    144
Name: count, dtype: int64

In [106]:
# Group and pivot confusion labels per driver for normal data
conf_per_driver_train = (
    df_inf_with_results.groupby(['driver_id', 'confusion_label'])
    .size()
    .unstack(fill_value=0)
    .rename(columns=lambda col: f"{col}_normal")
)

# Group and pivot confusion labels per driver for test
conf_per_driver_test = (
    test_data.groupby(['driver_id', 'confusion_label'])
    .size()
    .unstack(fill_value=0)
    .rename(columns=lambda col: f"{col}_test")
)

# Merge the two tables
conf_driver_comparison = conf_per_driver_train.join(conf_per_driver_test, how='outer').fillna(0).astype(int)

# Optional: Add total samples per driver
conf_driver_comparison['total_regular'] = conf_driver_comparison[[c for c in conf_driver_comparison.columns if c.endswith('_train')]].sum(axis=1)
conf_driver_comparison['total_test'] = conf_driver_comparison[[c for c in conf_driver_comparison.columns if c.endswith('_test')]].sum(axis=1)

In [108]:
conf_driver_comparison

confusion_label,FN_normal,FP_normal,TN_normal,TP_normal,FN_test,TN_test,TP_test,total_regular,total_test
driver_id,,,,,,,,,
D1000,0,1,0,0,0,2,0,0.0,2
D1001,0,2,1,6,0,0,1,0.0,1
D1002,0,2,2,3,0,0,0,0.0,0
D1003,0,4,0,3,0,1,1,0.0,2
D1004,0,0,1,3,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...
D1095,0,1,1,2,0,1,0,0.0,1
D1096,0,2,1,0,0,1,0,0.0,1
D1097,0,2,2,0,0,1,0,0.0,1
D1098,0,1,0,6,0,0,1,0.0,1
D1099,0,1,2,0,0,1,3,0.0,4

In [110]:
conf_driver_comparison['diff'] = conf_driver_comparison['total_regular']-conf_driver_comparison['total_test']

In [112]:
conf_driver_comparison

confusion_label,FN_normal,FP_normal,TN_normal,TP_normal,FN_test,TN_test,TP_test,total_regular,total_test,diff
driver_id,,,,,,,,,,
D1000,0,1,0,0,0,2,0,0.0,2,-2.0
D1001,0,2,1,6,0,0,1,0.0,1,-1.0
D1002,0,2,2,3,0,0,0,0.0,0,0.0
D1003,0,4,0,3,0,1,1,0.0,2,-2.0
D1004,0,0,1,3,0,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
D1095,0,1,1,2,0,1,0,0.0,1,-1.0
D1096,0,2,1,0,0,1,0,0.0,1,-1.0
D1097,0,2,2,0,0,1,0,0.0,1,-1.0
D1098,0,1,0,6,0,0,1,0.0,1,-1.0
D1099,0,1,2,0,0,1,3,0.0,4,-4.0

In [116]:
def get_driver_confusion_percentages(df):
    return (
        df.groupby(['driver_id', 'confusion_label'])
          .size()
          .unstack(fill_value=0)
          .apply(lambda x: x / x.sum(), axis=1)
    )

# Create summaries
driver_confusion_inf = get_driver_confusion_percentages(df_inf_with_results)
driver_confusion_test = get_driver_confusion_percentages(test_data)

# Show a preview
print("Inference:")
print(driver_confusion_inf.head())

print("\nTest:")
print(driver_confusion_test.head())

Inference:
confusion_label   FN        FP        TN        TP
driver_id
D1000            0.0  1.000000  0.000000  0.000000
D1001            0.0  0.222222  0.111111  0.666667
D1002            0.0  0.285714  0.285714  0.428571
D1003            0.0  0.571429  0.000000  0.428571
D1004            0.0  0.000000  0.250000  0.750000

Test:
confusion_label   FN   TN   TP
driver_id
D1000            0.0  1.0  0.0
D1001            0.0  0.0  1.0
D1003            0.0  0.5  0.5
D1005            0.0  1.0  0.0
D1007            0.0  1.0  0.0

In [119]:
driver_comparison = pd.merge(driver_confusion_inf.reset_index(), driver_confusion_test.reset_index(), on='driver_id', how='outer')

In [121]:
driver_comparison
#no FP in test_data

confusion_label,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y
0,D1000,0.0,1.000000,0.000000,0.000000,0.0,1.00,0.00
1,D1001,0.0,0.222222,0.111111,0.666667,0.0,0.00,1.00
2,D1002,0.0,0.285714,0.285714,0.428571,NaN,NaN,NaN
3,D1003,0.0,0.571429,0.000000,0.428571,0.0,0.50,0.50
4,D1004,0.0,0.000000,0.250000,0.750000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
94,D1095,0.0,0.250000,0.250000,0.500000,0.0,1.00,0.00
95,D1096,0.0,0.666667,0.333333,0.000000,0.0,1.00,0.00
96,D1097,0.0,0.500000,0.500000,0.000000,0.0,1.00,0.00
97,D1098,0.0,0.142857,0.000000,0.857143,0.0,0.00,1.00
98,D1099,0.0,0.333333,0.666667,0.000000,0.0,0.25,0.75

In [123]:
driver_comparison['diff in FN'] = driver_comparison['FN_x']-driver_comparison['FN_y']
driver_comparison['diff in TN'] = driver_comparison['TN_x']-driver_comparison['TN_y']
driver_comparison['diff in TP'] = driver_comparison['TP_x']-driver_comparison['TP_y']

In [125]:
driver_comparison

confusion_label,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y,diff in FN,diff in TN,diff in TP
0,D1000,0.0,1.000000,0.000000,0.000000,0.0,1.00,0.00,0.0,-1.000000,0.000000
1,D1001,0.0,0.222222,0.111111,0.666667,0.0,0.00,1.00,0.0,0.111111,-0.333333
2,D1002,0.0,0.285714,0.285714,0.428571,NaN,NaN,NaN,NaN,NaN,NaN
3,D1003,0.0,0.571429,0.000000,0.428571,0.0,0.50,0.50,0.0,-0.500000,-0.071429
4,D1004,0.0,0.000000,0.250000,0.750000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
94,D1095,0.0,0.250000,0.250000,0.500000,0.0,1.00,0.00,0.0,-0.750000,0.500000
95,D1096,0.0,0.666667,0.333333,0.000000,0.0,1.00,0.00,0.0,-0.666667,0.000000
96,D1097,0.0,0.500000,0.500000,0.000000,0.0,1.00,0.00,0.0,-0.500000,0.000000
97,D1098,0.0,0.142857,0.000000,0.857143,0.0,0.00,1.00,0.0,0.000000,-0.142857
98,D1099,0.0,0.333333,0.666667,0.000000,0.0,0.25,0.75,0.0,0.416667,-0.750000

In [128]:
driver_session_counts = test_data.groupby('driver_id')['session_id'].count().reset_index().merge(df_inf_with_results.groupby('driver_id')['session_id'].count().reset_index(), how='outer', on='driver_id')
driver_session_counts.columns=['driver_id', 'test_session_counts','inf_session_counts']
driver_session_counts

   driver_id  test_session_counts  inf_session_counts
0      D1000                  2.0                   1
1      D1001                  1.0                   9
2      D1002                  NaN                   7
3      D1003                  2.0                   7
4      D1004                  NaN                   4
..       ...                  ...                 ...
94     D1095                  1.0                   4
95     D1096                  1.0                   3
96     D1097                  1.0                   4
97     D1098                  1.0                   7
98     D1099                  4.0                   3

[99 rows x 3 columns]

In [130]:
driver_comparison = driver_comparison.merge(driver_session_counts, how='outer', on='driver_id')

In [132]:
driver_comparison['test_session_counts'] = driver_comparison['test_session_counts'].fillna(0).astype(int)
driver_comparison['normalized_test_session_counts']= driver_comparison['test_session_counts']*2.5 #adding a column to be able to compare amount of sessions relative to the sample size

In [134]:
driver_comparison[(driver_comparison['diff in TP'] > 0.5) | (driver_comparison['diff in TP'] < -0.5)]

,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y,diff in FN,diff in TN,diff in TP,test_session_counts,inf_session_counts,normalized_test_session_counts
5,D1005,0.000000,0.333333,0.000000,0.666667,0.000000,1.000000,0.000000,0.000000,-1.000000,0.666667,1,3,2.5
10,D1010,0.000000,0.000000,0.333333,0.666667,0.333333,0.666667,0.000000,-0.333333,-0.333333,0.666667,3,3,7.5
18,D1018,0.000000,0.600000,0.000000,0.400000,0.000000,0.000000,1.000000,0.000000,0.000000,-0.600000,1,5,2.5
23,D1024,0.000000,1.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.000000,-0.333333,-0.666667,6,2,15.0
24,D1025,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,1.000000,1,6,2.5
32,D1033,0.000000,0.000000,0.200000,0.800000,0.000000,1.000000,0.000000,0.000000,-0.800000,0.800000,1,5,2.5
38,D1039,0.000000,0.000000,0.400000,0.600000,0.000000,1.000000,0.000000,0.000000,-0.600000,0.600000,2,5,5.0
39,D1040,0.000000,0.800000,0.000000,0.200000,0.000000,0.000000,1.000000,0.000000,0.000000,-0.800000,1,5,2.5
42,D1043,0.000000,0.600000,0.400000,0.000000,0.000000,0.250000,0.750000,0.000000,0.150000,-0.750000,4,5,10.0
44,D1045,0.000000,0.750000,0.000000,0.250000,0.000000,0.000000,1.000000,0.000000,0.000000,-0.750000,1,4,2.5
47,D1048,0.000000,0.250000,0.000000,0.750000,0.333333,0.666667,0.000000,-0.333333,-0.666667,0.750000,3,4,7.5
49,D1050,0.000000,0.600000,0.200000,0.200000,0.000000,0.000000,1.000000,0.000000,0.200000,-0.800000,1,5,2.5
53,D1054,0.000000,0.200000,0.200000,0.600000,0.000000,1.000000,0.000000,0.000000,-0.800000,0.600000,2,5,5.0
67,D1068,0.000000,0.333333,0.111111,0.555556,0.000000,1.000000,0.000000,0.000000,-0.888889,0.555556,3,9,7.5
68,D1069,0.000000,0.250000,0.000000,0.750000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.750000,2,4,5.0
72,D1073,0.166667,0.000000,0.500000,0.333333,0.000000,0.000000,1.000000,0.166667,0.500000,-0.666667,3,6,7.5
77,D1078,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,1,3,2.5
83,D1084,0.000000,0.333333,0.000000,0.666667,1.000000,0.000000,0.000000,-1.000000,0.000000,0.666667,1,3,2.5
87,D1088,0.000000,0.000000,0.333333,0.666667,0.000000,1.000000,0.000000,0.000000,-0.666667,0.666667,1,3,2.5
98,D1099,0.000000,0.333333,0.666667,0.000000,0.000000,0.250000,0.750000,0.000000,0.416667,-0.750000,4,3,10.0

In [136]:
driver_comparison[(driver_comparison['diff in TN'] > 0.5) | (driver_comparison['diff in TN'] < -0.5)]

,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y,diff in FN,diff in TN,diff in TP,test_session_counts,inf_session_counts,normalized_test_session_counts
0,D1000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.000000,2,1,5.0
5,D1005,0.000000,0.333333,0.000000,0.666667,0.000000,1.000000,0.000000,0.000000,-1.000000,0.666667,1,3,2.5
9,D1009,0.000000,0.500000,0.000000,0.500000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.500000,2,6,5.0
11,D1011,0.000000,0.500000,0.250000,0.250000,0.000000,1.000000,0.000000,0.000000,-0.750000,0.250000,1,4,2.5
14,D1014,0.142857,0.285714,0.142857,0.428571,0.000000,0.666667,0.333333,0.142857,-0.523810,0.095238,3,7,7.5
16,D1016,0.000000,0.500000,0.000000,0.500000,0.000000,0.666667,0.333333,0.000000,-0.666667,0.166667,3,2,7.5
24,D1025,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,-1.000000,1.000000,1,6,2.5
27,D1028,0.000000,0.571429,0.000000,0.428571,0.000000,1.000000,0.000000,0.000000,-1.000000,0.428571,1,7,2.5
30,D1031,0.000000,0.500000,0.000000,0.500000,0.200000,0.600000,0.200000,-0.200000,-0.600000,0.300000,5,8,12.5
32,D1033,0.000000,0.000000,0.200000,0.800000,0.000000,1.000000,0.000000,0.000000,-0.800000,0.800000,1,5,2.5
33,D1034,0.000000,0.142857,0.428571,0.428571,0.000000,1.000000,0.000000,0.000000,-0.571429,0.428571,1,7,2.5
34,D1035,0.000000,0.500000,0.000000,0.500000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.500000,1,6,2.5
38,D1039,0.000000,0.000000,0.400000,0.600000,0.000000,1.000000,0.000000,0.000000,-0.600000,0.600000,2,5,5.0
47,D1048,0.000000,0.250000,0.000000,0.750000,0.333333,0.666667,0.000000,-0.333333,-0.666667,0.750000,3,4,7.5
52,D1053,0.000000,0.666667,0.000000,0.333333,0.000000,1.000000,0.000000,0.000000,-1.000000,0.333333,1,3,2.5
53,D1054,0.000000,0.200000,0.200000,0.600000,0.000000,1.000000,0.000000,0.000000,-0.800000,0.600000,2,5,5.0
59,D1060,0.000000,0.500000,0.000000,0.500000,0.000000,0.750000,0.250000,0.000000,-0.750000,0.250000,4,6,10.0
60,D1061,0.250000,0.250000,0.000000,0.500000,0.000000,1.000000,0.000000,0.250000,-1.000000,0.500000,1,4,2.5
64,D1065,0.000000,0.500000,0.000000,0.500000,0.000000,0.600000,0.400000,0.000000,-0.600000,0.100000,5,2,12.5
67,D1068,0.000000,0.333333,0.111111,0.555556,0.000000,1.000000,0.000000,0.000000,-0.888889,0.555556,3,9,7.5
68,D1069,0.000000,0.250000,0.000000,0.750000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.750000,2,4,5.0
73,D1074,0.000000,0.600000,0.400000,0.000000,0.000000,1.000000,0.000000,0.000000,-0.600000,0.000000,3,5,7.5
79,D1080,0.000000,1.000000,0.000000,0.000000,0.000000,0.600000,0.400000,0.000000,-0.600000,-0.400000,5,3,12.5
80,D1081,0.000000,0.222222,0.444444,0.333333,0.000000,1.000000,0.000000,0.000000,-0.555556,0.333333,1,9,2.5
82,D1083,0.111111,0.333333,0.333333,0.222222,0.000000,1.000000,0.000000,0.111111,-0.666667,0.222222,1,9,2.5
84,D1085,0.000000,0.500000,0.000000,0.500000,0.000000,1.000000,0.000000,0.000000,-1.000000,0.500000,2,6,5.0
87,D1088,0.000000,0.000000,0.333333,0.666667,0.000000,1.000000,0.000000,0.000000,-0.666667,0.666667,1,3,2.5
89,D1090,0.000000,0.363636,0.181818,0.454545,0.000000,1.000000,0.000000,0.000000,-0.818182,0.454545,1,11,2.5
94,D1095,0.000000,0.250000,0.250000,0.500000,0.000000,1.000000,0.000000,0.000000,-0.750000,0.500000,1,4,2.5
95,D1096,0.000000,0.666667,0.333333,0.000000,0.000000,1.000000,0.000000,0.000000,-0.666667,0.000000,1,3,2.5

In [138]:
driver_comparison[(driver_comparison['diff in FN'] > 0.5) | (driver_comparison['diff in FN'] < -0.5)]

,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y,diff in FN,diff in TN,diff in TP,test_session_counts,inf_session_counts,normalized_test_session_counts
83,D1084,0.0,0.333333,0.0,0.666667,1.0,0.0,0.0,-1.0,0.0,0.666667,1,3,2.5

In [140]:
from scipy import stats
import numpy as np
from scipy.stats import zscore

# Make sure FN_y and TP_y exist and are numeric
driver_comparison['FNR'] = driver_comparison['FN_y'] / (driver_comparison['FN_y'] + driver_comparison['TP_y'])

# Drop rows with NaNs in FNR (in case denominator was zero)
driver_comparison = driver_comparison.dropna(subset=['FNR'])

# Compute z-scores for FNR
driver_comparison['FNR_zscore'] = zscore(driver_comparison['FNR'])

# Filter out drivers with z-score > 2 (potential anomaly)
anomalous_drivers = driver_comparison[driver_comparison['FNR_zscore'] > 2]

# View results
print(anomalous_drivers[['driver_id', 'FNR', 'FNR_zscore']])

   driver_id  FNR  FNR_zscore
10     D1010  1.0    3.511311
47     D1048  1.0    3.511311
83     D1084  1.0    3.511311

In [142]:
driver_comparison[driver_comparison['driver_id'].isin(['D1010', 'D1048', 'D1084'])]

,driver_id,FN_x,FP,TN_x,TP_x,FN_y,TN_y,TP_y,diff in FN,diff in TN,diff in TP,test_session_counts,inf_session_counts,normalized_test_session_counts,FNR,FNR_zscore
10,D1010,0.0,0.000000,0.333333,0.666667,0.333333,0.666667,0.0,-0.333333,-0.333333,0.666667,3,3,7.5,1.0,3.511311
47,D1048,0.0,0.250000,0.000000,0.750000,0.333333,0.666667,0.0,-0.333333,-0.666667,0.750000,3,4,7.5,1.0,3.511311
83,D1084,0.0,0.333333,0.000000,0.666667,1.000000,0.000000,0.0,-1.000000,0.000000,0.666667,1,3,2.5,1.0,3.511311

In [144]:
driver_comparison.to_csv(r'C:\Users\ydool\Repos\sensor-analysis-assignment\driver comparison.csv',index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\ydool\\Repos\\sensor-analysis-assignment\\driver comparison.csv'

In [152]:
#looked at driver comparison data offline at Excel (driver_comparison.csv in the main folder), found 44 drivers that seem to be well detected in the test data and not in the inference data, so checking them out

drivers_to_check = ['D1001','D1003','D1008','D1012','D1014','D1015','D1016','D1018','D1023','D1024','D1026','D1027','D1030','D1032','D1037','D1040','D1041','D1042','D1043','D1044','D1045','D1046','D1047','D1050','D1051','D1055','D1057','D1060','D1062','D1065','D1067','D1070','D1071','D1073','D1075','D1077','D1078','D1079','D1080','D1089','D1091','D1093','D1098','D1099']

In [154]:
inf_drivers = df_inf_with_results[df_inf_with_results['driver_id'].isin(drivers_to_check)].copy()

In [156]:
test_drivers = test_data[test_data['driver_id'].isin(drivers_to_check)].copy()

In [158]:
relevant_columns=['driver_id', 'sensor_source','vehicle_type','firmware_version', 'calibration_status', 'device_model','gps_accuracy','network_type']

In [160]:
inf_drivers.groupby('driver_id')[['sensor_source']].nunique()

           sensor_source
driver_id
D1001                  2
D1003                  2
D1008                  1
D1012                  2
D1014                  2
D1015                  1
D1016                  1
D1018                  2
D1023                  2
D1024                  1
D1026                  2
D1027                  2
D1030                  2
D1032                  2
D1037                  2
D1040                  2
D1041                  1
D1042                  2
D1043                  2
D1044                  2
D1045                  2
D1046                  2
D1047                  1
D1050                  2
D1051                  1
D1055                  2
D1057                  2
D1060                  2
D1062                  2
D1065                  1
D1067                  1
D1070                  2
D1071                  2
D1073                  2
D1075                  2
D1077                  2
D1078                  1
D1079                  1
D1080                  1
D1089                  1
D1091                  2
D1093                  1
D1098                  2
D1099                  2

In [162]:
df_inf_with_results[df_inf_with_results['driver_id']=='D1071'][relevant_columns].sort_values(by='vehicle_type')

,driver_id,sensor_source,vehicle_type,firmware_version,calibration_status,device_model,gps_accuracy,network_type
153,D1071,phone,sedan,v1.2.4,pending,model_b,9.365538,4g
283,D1071,camera,sedan,v1.2.4,pending,model_a,9.235307,wifi
462,D1071,phone,sedan,v1.2.3,pending,model_c,3.557552,wifi
151,D1071,phone,suv,v1.3.0,pending,model_a,8.168452,5g
199,D1071,phone,suv,v1.2.4,ok,model_a,3.832435,5g
467,D1071,camera,suv,v1.2.3,pending,model_a,5.301587,4g
64,D1071,phone,truck,v1.2.4,ok,model_b,7.859160,4g

In [164]:
test_data[test_data['driver_id']=='D1071'][relevant_columns].sort_values(by='vehicle_type')

,driver_id,sensor_source,vehicle_type,firmware_version,calibration_status,device_model,gps_accuracy,network_type
149,D1071,camera,sedan,v1.2.4,pending,model_b,9.926096,wifi
150,D1071,camera,suv,v1.2.4,recent,model_c,6.363195,wifi
102,D1071,camera,truck,v1.3.0,recent,model_a,9.244387,5g

In [ ]:
#the problem seems to be that drivers have nonsensical data - driver with 3 cars, and even within each car different sensor sources, diffeerence, firmares and device models

In [166]:
df_inf_with_results.groupby('driver_id')[relevant_columns].nunique().nunique()

driver_id              1
sensor_source          2
vehicle_type           3
firmware_version       3
calibration_status     3
device_model           3
gps_accuracy          12
network_type           3
dtype: int64

In [168]:
test_data.groupby('driver_id')[relevant_columns].nunique().nunique()

driver_id             1
sensor_source         1
vehicle_type          3
firmware_version      3
calibration_status    3
device_model          3
gps_accuracy          6
network_type          3
dtype: int64

In [170]:
relevant_columns.remove('vehicle_type')

In [172]:
inf_driver_info = df_inf_with_results.groupby(['driver_id','vehicle_type'])[relevant_columns].nunique()
inf_driver_info

                        driver_id  sensor_source  firmware_version  \
driver_id vehicle_type
D1000     truck                 1              1                 1
D1001     sedan                 1              1                 2
          suv                   1              2                 2
          truck                 1              2                 3
D1002     suv                   1              2                 2
...                           ...            ...               ...
D1098     sedan                 1              1                 2
          suv                   1              2                 2
          truck                 1              1                 2
D1099     sedan                 1              1                 1
          truck                 1              2                 2

                        calibration_status  device_model  gps_accuracy  \
driver_id vehicle_type
D1000     truck                          1             1             1
D1001     sedan                          2             2             2
          suv                            3             2             4
          truck                          3             2             3
D1002     suv                            3             3             3
...                                    ...           ...           ...
D1098     sedan                          2             2             2
          suv                            2             2             3
          truck                          2             1             2
D1099     sedan                          1             1             1
          truck                          1             2             2

                        network_type
driver_id vehicle_type
D1000     truck                    1
D1001     sedan                    1
          suv                      3
          truck                    2
D1002     suv                      2
...                              ...
D1098     sedan                    2
          suv                      3
          truck                    2
D1099     sedan                    1
          truck                    1

[224 rows x 7 columns]

In [174]:
test_driver_info = test_data.groupby(['driver_id','vehicle_type'])[relevant_columns].nunique()
test_driver_info

                        driver_id  sensor_source  firmware_version  \
driver_id vehicle_type
D1000     sedan                 1              1                 1
          suv                   1              1                 1
D1001     suv                   1              1                 1
D1003     sedan                 1              1                 1
D1005     suv                   1              1                 1
...                           ...            ...               ...
D1097     truck                 1              1                 1
D1098     suv                   1              1                 1
D1099     sedan                 1              1                 2
          suv                   1              1                 1
          truck                 1              1                 1

                        calibration_status  device_model  gps_accuracy  \
driver_id vehicle_type
D1000     sedan                          1             1             1
          suv                            1             1             1
D1001     suv                            1             1             1
D1003     sedan                          2             2             2
D1005     suv                            1             1             1
...                                    ...           ...           ...
D1097     truck                          1             1             1
D1098     suv                            1             1             1
D1099     sedan                          1             2             2
          suv                            1             1             1
          truck                          1             1             1

                        network_type
driver_id vehicle_type
D1000     sedan                    1
          suv                      1
D1001     suv                      1
D1003     sedan                    1
D1005     suv                      1
...                              ...
D1097     truck                    1
D1098     suv                      1
D1099     sedan                    1
          suv                      1
          truck                    1

[146 rows x 7 columns]

In [176]:
inf_driver_info[inf_driver_info['sensor_source']>1]

                        driver_id  sensor_source  firmware_version  \
driver_id vehicle_type
D1001     suv                   1              2                 2
          truck                 1              2                 3
D1002     suv                   1              2                 2
          truck                 1              2                 3
D1003     sedan                 1              2                 2
...                           ...            ...               ...
D1094     truck                 1              2                 1
D1095     suv                   1              2                 2
D1096     truck                 1              2                 1
D1098     suv                   1              2                 2
D1099     truck                 1              2                 2

                        calibration_status  device_model  gps_accuracy  \
driver_id vehicle_type
D1001     suv                            3             2             4
          truck                          3             2             3
D1002     suv                            3             3             3
          truck                          3             3             4
D1003     sedan                          2             2             3
...                                    ...           ...           ...
D1094     truck                          2             2             2
D1095     suv                            2             1             2
D1096     truck                          1             3             3
D1098     suv                            2             2             3
D1099     truck                          1             2             2

                        network_type
driver_id vehicle_type
D1001     suv                      3
          truck                    2
D1002     suv                      2
          truck                    2
D1003     sedan                    2
...                              ...
D1094     truck                    2
D1095     suv                      2
D1096     truck                    2
D1098     suv                      3
D1099     truck                    1

[77 rows x 7 columns]

In [178]:
test_driver_info[test_driver_info['sensor_source']>1]

Empty DataFrame
Columns: [driver_id, sensor_source, firmware_version, calibration_status, device_model, gps_accuracy, network_type]
Index: []

In [182]:
df_inf_with_results['timestamp']

0      2025-05-25 14:34:56.480223
1      2025-05-25 14:34:55.857350
2      2025-05-25 14:34:56.305350
3      2025-05-25 14:34:56.531446
4      2025-05-25 14:34:56.261825
                  ...
468    2025-05-25 14:34:55.866962
469    2025-05-25 14:34:56.664757
470    2025-05-25 14:34:56.598702
471    2025-05-25 14:34:56.173817
472    2025-05-25 14:34:56.356051
Name: timestamp, Length: 473, dtype: object

In [184]:
df_inf_with_results['timestamp'].min()

'2025-05-25 14:34:55.840178'

In [186]:
df_inf_with_results['timestamp'].max()

'2025-05-25 14:34:56.740035'

In [188]:
test_data['timestamp'].min()

'2025-05-25 14:34:55.418190'

In [190]:
test_data['timestamp'].max()

'2025-05-25 14:34:55.835565'

In [196]:
df_inf_with_results['session_id']

0      S910846
1      S745147
2      S815741
3      S192238
4      S146695
        ...
468    S259109
469    S852576
470    S639486
471    S935107
472    S526886
Name: session_id, Length: 473, dtype: object

In [198]:
set1 = set(df_inf_with_results['session_id'])
set2 = set(test_data['session_id'])
set1.intersection(set2)

set()

In [200]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   x_mean               200 non-null    float64
 1   x_std                200 non-null    float64
 2   x_max                200 non-null    float64
 3   x_min                200 non-null    float64
 4   x_range              200 non-null    float64
 5   x_skew               200 non-null    float64
 6   x_kurtosis           200 non-null    float64
 7   x_n_peaks            200 non-null    int64
 8   x_energy             200 non-null    float64
 9   y_mean               200 non-null    float64
 10  y_std                200 non-null    float64
 11  y_max                200 non-null    float64
 12  y_min                200 non-null    float64
 13  y_range              200 non-null    float64
 14  y_skew               200 non-null    float64
 15  y_kurtosis           200 non-null    float64
 16  y_n_peaks            200 non-null    int64
 17  y_energy             200 non-null    float64
 18  z_mean               200 non-null    float64
 19  z_std                200 non-null    float64
 20  z_max                200 non-null    float64
 21  z_min                200 non-null    float64
 22  z_range              200 non-null    float64
 23  z_skew               200 non-null    float64
 24  z_kurtosis           200 non-null    float64
 25  z_n_peaks            200 non-null    int64
 26  z_energy             200 non-null    float64
 27  mag_mean             200 non-null    float64
 28  mag_std              200 non-null    float64
 29  mag_max              200 non-null    float64
 30  max_delta_mag        200 non-null    float64
 31  sudden_change_score  200 non-null    int64
 32  x_fft_max            200 non-null    float64
 33  x_fft_mean           200 non-null    float64
 34  y_fft_max            200 non-null    float64
 35  y_fft_mean           200 non-null    float64
 36  z_fft_max            200 non-null    float64
 37  z_fft_mean           200 non-null    float64
 38  xy_corr              200 non-null    float64
 39  xz_corr              200 non-null    float64
 40  yz_corr              200 non-null    float64
 41  sample_id            200 non-null    object
 42  sensor_source        200 non-null    object
 43  label                200 non-null    object
 44  timestamp            200 non-null    object
 45  weather              200 non-null    object
 46  driver_id            200 non-null    object
 47  vehicle_type         200 non-null    object
 48  speed_bin            200 non-null    object
 49  road_type            200 non-null    object
 50  time_of_day          200 non-null    object
 51  temperature          200 non-null    int64
 52  humidity             200 non-null    int64
 53  altitude             200 non-null    int64
 54  session_id           200 non-null    object
 55  firmware_version     200 non-null    object
 56  calibration_status   200 non-null    object
 57  battery_level        200 non-null    int64
 58  gps_accuracy         200 non-null    float64
 59  network_type         200 non-null    object
 60  device_model         200 non-null    object
 61  predictions          200 non-null    object
 62  confusion_label      200 non-null    category
 63  confusion_label_num  200 non-null    category
dtypes: category(2), float64(38), int64(8), object(16)
memory usage: 97.7+ KB

In [ ]:
pip install ipywidgets

In [ ]:
!jupyter --version

In [ ]:
!pip install --upgrade ipywidgets

In [ ]:
!pip show ipywidgets